@model DomainRegister.Models.Domain

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Domain</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Company.CompanyName)
        </dt>

        <dd>
            @Html.ActionLink(Model.Company.CompanyName, "Details",
               "Companies", new { id = Model.Company.CompanyId }, null)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DomainName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DomainName)
        </dd>

        <dt>
            File Handler
        </dt>

        <dd>
            @Html.ActionLink(Model.Company.Handler.FirstName + " " + 
           Model.Company.Handler.LastName, "Details", "Handlers",
           new { id = Model.Company.Handler.HandlerId }, null)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RenewalDate)
        </dt>

        @{
            int daysLeft = (Model.RenewalDate - DateTime.Today).Days;
            string style = null;
            if (daysLeft <= 60)
            {
                style = daysLeft <= 30 ?
                    "color:red" : "color:darkorange";
            }
        }

        <dd style="@style">
            @Html.DisplayFor(model => model.RenewalDate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.DomainId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
