@model IEnumerable<DomainRegister.Models.Domain>

@{
    ViewBag.Title = "Domains";
}

<h2>Domains</h2>

<p>
    @Html.ActionLink("Create New", "Create") <br />
    <span style="color:darkorange;font-weight:bold;">Fewer than 60 days remaining</span><br />
    <span style="color:red;font-weight:bold;">Fewer than 30 days remaining</span>
</p>
<table class="table">
    <tr>
        <th>
            @Html.ActionLink(Html.DisplayNameFor(model => model.Company.CompanyName).ToString(), "Index", new { sort = ViewBag.CompanySortParam })
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DomainName)
        </th>
        <th>
            @Html.ActionLink(Html.DisplayNameFor(model => model.Company.Handler).ToString(), "Index", new { sort = ViewBag.HandlerSortParam })
        </th>
        <th>
            @Html.ActionLink(Html.DisplayNameFor(model => model.RenewalDate).ToString(), "Index", new { sort = ViewBag.DateSortParam })
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Company.CompanyName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DomainName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Company.Handler.FirstName)
            @Html.DisplayFor(modelItem => item.Company.Handler.LastName)
        </td>
        @{
            int daysLeft = (item.RenewalDate - DateTime.Today).Days;
            string style = null;
            if (daysLeft <= 60)
            {
                style = daysLeft <= 30 ?
                    "color:red;font-weight:bold;" : "color:darkorange;font-weight:bold;";
            }
        }
        <td style="@style">
            @Html.DisplayFor(modelItem => item.RenewalDate)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.DomainId }) |
            @Html.ActionLink("Details", "Details", new { id=item.DomainId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.DomainId })
        </td>
    </tr>
}

</table>
