@model IEnumerable<DomainRegister.Models.Company>

@{
    ViewBag.Title = "Client Companies";
}

@using X.PagedList.Mvc;
@using X.PagedList;

<h2>Client Companies</h2>

<p>
    @Html.ActionLink("Create New", "Create") <br />
    Filter by company name:
    @Html.TextBox("Search")
    <input type="submit" value="Search" />
</p>
<table class="table">
    <tr>
        <th>
            @Html.ActionLink(Html.DisplayNameFor(model => model.CompanyName).ToString(), "Index", new { sort = ViewBag.CompanySortParam })
        </th>
        <th>
            @Html.ActionLink(Html.DisplayNameFor(model => model.Handler).ToString(), "Index", new { sort = ViewBag.HandlerSortParam })
        </th>
        <th>
            Domains
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CompanyName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Handler.FirstName)
            @Html.DisplayFor(modelItem => item.Handler.LastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Domains.Count)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.CompanyId }) |
            @Html.ActionLink("Details", "Details", new { id=item.CompanyId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.CompanyId })
        </td>
    </tr>
}

</table>
<br />
@Html.PagedListPager((IPagedList)ViewBag.CurrentPagedList, page => Url.Action("Index", new { page }))